BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 130
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters: OnePerLine
